In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv'

In [3]:
!wget $data

--2023-10-20 17:43:58--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1,4M) [text/plain]
Saving to: 'housing.csv.4'

     0K .......... .......... .......... .......... ..........  3%  744K 2s
    50K .......... .......... .......... .......... ..........  7% 2,00M 1s
   100K .......... .......... .......... .......... .......... 10% 6,38M 1s
   150K .......... .......... .......... .......... .......... 14%  922K 1s
   200K .......... .......... .......... .......... .......... 17% 2,38M 1s
   250K .......... .......... .......... .......... .......... 21% 1,21M 1s
   300K .......... .......... .......... .......... .......... 25% 3,61M 1s
   350K .......... .......... .......... .......... .......... 28% 7,06M 1s
   400K .......... .......... .......... .......... .......... 32% 1,10M 1s
   450K .......... .......... .......... .......... .......... 35% 11,6M 1s
   500K .......... .......... .......... .......... .......... 39% 22,2M 0s
   550K .......... .......... .......... .......... .......... 43% 4,17M 0s
   600K .......... .......... .......... .......... .......... 46%  713K 0s
   650K .......... .......... .......... .......... .......... 50% 11,5M 0s
   700K .......... .......... .......... .......... .......... 53% 27,3M 0s
   750K .......... .......... .......... .......... .......... 57% 9,62M 0s
   800K .......... .......... .......... .......... .......... 61% 10,0M 0s
   850K .......... .......... .......... .......... .......... 64% 6,05M 0s
   900K .......... .......... .......... .......... .......... 68%  595K 0s
   950K .......... .......... .......... .......... .......... 71%  112M 0s
  1000K .......... .......... .......... .......... .......... 75% 23,0M 0s
  1050K .......... .......... .......... .......... .......... 79%  125M 0s
  1100K .......... .......... .......... .......... .......... 82%  118M 0s
  1150K .......... .......... .......... .......... .......... 86% 80,8M 0s
  1200K .......... .......... .......... .......... .......... 89%  116M 0s
  1250K .......... .......... .......... .......... .......... 93%  175M 0s
  1300K .......... .......... .......... .......... .......... 97%  127M 0s
  1350K .......... .......... .......... ..........           100% 57,5M=0,5s

2023-10-20 17:43:59 (2,82 MB/s) - 'housing.csv.4' saved [1423529/1423529]

In [4]:
df = pd.read_csv(data)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [5]:
df = df[(df.ocean_proximity == '<1H OCEAN') | (df.ocean_proximity == 'INLAND')].reset_index(drop=True)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-121.97,37.64,32.0,1283.0,194.0,485.0,171.0,6.0574,431000.0,<1H OCEAN
1,-121.99,37.61,9.0,3666.0,711.0,2341.0,703.0,4.6458,217000.0,<1H OCEAN
2,-121.97,37.57,21.0,4342.0,783.0,2172.0,789.0,4.6146,247600.0,<1H OCEAN
3,-121.96,37.58,15.0,3575.0,597.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
4,-121.98,37.58,20.0,4126.0,1031.0,2079.0,975.0,3.6832,216900.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
15682,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
15683,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
15684,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
15685,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
15686,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [6]:
df.describe().round()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,15687.0,15687.0,15687.0,15687.0,15530.0,15687.0,15687.0,15687.0,15687.0
mean,-119.0,35.0,27.0,2666.0,541.0,1466.0,501.0,4.0,191943.0
std,2.0,2.0,12.0,2258.0,436.0,1180.0,393.0,2.0,108801.0
min,-124.0,33.0,1.0,2.0,2.0,3.0,2.0,0.0,14999.0
25%,-121.0,34.0,17.0,1441.0,295.0,802.0,278.0,3.0,111300.0
50%,-118.0,34.0,27.0,2118.0,432.0,1195.0,406.0,3.0,166900.0
75%,-118.0,37.0,36.0,3172.0,645.0,1777.0,602.0,5.0,241100.0
max,-114.0,42.0,52.0,39320.0,6445.0,35682.0,6082.0,15.0,500001.0

In [7]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        157
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [8]:
df['total_bedrooms'] = df['total_bedrooms'].fillna(0)

In [9]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [10]:
df.ocean_proximity.value_counts()

<1H OCEAN    9136
INLAND       6551
Name: ocean_proximity, dtype: int64

In [11]:
df['median_house_value'] = np.log1p(df.median_house_value.values)

In [12]:
from sklearn.model_selection import train_test_split

df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=1)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=1)

In [13]:
df_train.reset_index(drop=True)
df_val.reset_index(drop=True)
df_test.reset_index(drop=True)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.02,37.32,27.0,4336.0,754.0,2009.0,734.0,6.3923,12.760822,<1H OCEAN
1,-121.32,37.97,43.0,2453.0,490.0,1093.0,438.0,2.9107,11.394153,INLAND
2,-115.37,32.81,23.0,1458.0,294.0,866.0,275.0,2.3594,11.215880,INLAND
3,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,12.008847,INLAND
4,-120.50,37.30,29.0,1572.0,456.0,1697.0,429.0,1.7600,11.054075,INLAND
...,...,...,...,...,...,...,...,...,...,...
3133,-118.45,34.06,20.0,3367.0,1264.0,2667.0,1131.0,2.2444,13.122365,<1H OCEAN
3134,-117.77,34.07,36.0,2922.0,652.0,2392.0,629.0,2.8661,11.728045,INLAND
3135,-121.29,37.99,45.0,965.0,198.0,498.0,195.0,1.6944,11.227920,INLAND
3136,-117.59,33.65,4.0,1793.0,390.0,897.0,386.0,4.2463,12.116153,<1H OCEAN
3137,-117.89,33.66,33.0,3595.0,785.0,1621.0,732.0,4.1372,12.488243,<1H OCEAN

In [14]:
y_train = df_train.median_house_value
y_val = df_val.median_house_value
y_test = df_test.median_house_value

In [29]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

    QUESTION 1

In [30]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.feature_extraction import DictVectorizer
from sklearn.metrics import roc_auc_score
from sklearn.tree import export_text

In [31]:
train_dicts = df_train.to_dict(orient='records')
dv = DictVectorizer(sparse=True)
X_train = dv.fit_transform(train_dicts)

In [32]:
dv.get_feature_names_out()

array(['households', 'housing_median_age', 'latitude', 'longitude',
       'median_income', 'ocean_proximity=<1H OCEAN',
       'ocean_proximity=INLAND', 'population', 'total_bedrooms',
       'total_rooms'], dtype=object)

In [33]:
dt = DecisionTreeRegressor(max_depth=1)
dt.fit(X_train, y_train)

DecisionTreeRegressor(max_depth=1)

In [34]:
val_dicts = df_val.to_dict(orient='records')
X_val = dv.transform(val_dicts)

In [35]:
y_pred = dt.predict(X_val)
y_pred

array([12.30066927, 12.30066927, 11.60680734, ..., 11.60680734,
       11.60680734, 11.60680734])

In [36]:
from sklearn.tree import export_text

In [37]:
print(export_text(dt, feature_names=dv.get_feature_names_out()))

|--- ocean_proximity=<1H OCEAN <= 0.50
|   |--- value: [11.61]
|--- ocean_proximity=<1H OCEAN >  0.50
|   |--- value: [12.30]

QUESTION 2

In [38]:
from sklearn.ensemble import RandomForestRegressor

In [39]:
rf = RandomForestRegressor( n_estimators=10,
                            random_state=1,
                            n_jobs=-1 )
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10, n_jobs=-1, random_state=1)

In [40]:
y_pred = rf.predict(X_val)

In [41]:
from sklearn.metrics import mean_squared_error

In [55]:
def rmse(y, y_pred):
    error = y - y_pred #calcolo errore tra i 2 array
    se = error **2 #quadrato della differenza
    mse = se.mean() #media della differenza
    return np.sqrt(mse) #radice del valore medio

In [43]:
mean_squared_error(y_val, y_pred)

0.060161005226413156

In [56]:
rmse(y_val, y_pred)

0.24527740463893766

QUESTION 3

In [84]:
test_dicts = df_test.to_dict(orient='records')
X_test = dv.transform(test_dicts)

In [86]:
scores = []

for n in range(10, 201, 10):
    rf = RandomForestRegressor(n_estimators=n, random_state=1, n_jobs=-1)
    rf.fit(X_train, y_train)
    
    y_pred = rf.predict(X_val)
    rmse_scores = rmse(y_val, y_pred)
    scores.append((n, rmse_scores.round(3)))

In [87]:
df_scores = pd.DataFrame(scores, columns=['n_estim', 'rmse'])
df_scores

    n_estim   rmse
0        10  0.245
1        20  0.239
2        30  0.237
3        40  0.236
4        50  0.235
5        60  0.235
6        70  0.234
7        80  0.235
8        90  0.235
9       100  0.234
10      110  0.234
11      120  0.234
12      130  0.234
13      140  0.234
14      150  0.234
15      160  0.233
16      170  0.233
17      180  0.234
18      190  0.234
19      200  0.234

QUESTION 4

In [93]:
scores = []

for d in [10, 15, 20, 25]:
    _mean = []
    for n in range(10, 201, 10):
        
        rf = RandomForestRegressor(n_estimators=n, 
                                   max_depth=d,
                                   random_state=1, 
                                   n_jobs=-1)
        rf.fit(X_train, y_train)
    
        y_pred = rf.predict(X_val)
        rmse_scores = rmse(y_val, y_pred)
        _mean.append(rmse_scores)
        #print(np.mean(_mean))
    print((d, np.mean(_mean)))

(10, 0.24552591787825445)
(15, 0.23596961827963217)
(20, 0.23516806729650966)
(25, 0.23479376884677464)

In [94]:
df_scores = pd.DataFrame(scores, columns=['max_depth', 'avg_rmse'])

QUESTION 5

In [45]:
rf = RandomForestRegressor( n_estimators=10,
                            max_depth=20,
                            random_state=1,
                            n_jobs=-1) 
rf.fit(X_train, y_train)
importance = rf.feature_importances_
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.01514
Feature: 1, Score: 0.03032
Feature: 2, Score: 0.10201
Feature: 3, Score: 0.08624
Feature: 4, Score: 0.33561
Feature: 5, Score: 0.29247
Feature: 6, Score: 0.07381
Feature: 7, Score: 0.02714
Feature: 8, Score: 0.01585
Feature: 9, Score: 0.02142

In [46]:
dv.get_feature_names_out()

array(['households', 'housing_median_age', 'latitude', 'longitude',
       'median_income', 'ocean_proximity=<1H OCEAN',
       'ocean_proximity=INLAND', 'population', 'total_bedrooms',
       'total_rooms'], dtype=object)

QUESTION 6

In [47]:
import xgboost as xgb

In [50]:
features = dv.get_feature_names_out()
features = [i.replace("=<", "_").replace("=","_") for i in features]
features

['households',
 'housing_median_age',
 'latitude',
 'longitude',
 'median_income',
 'ocean_proximity_1H OCEAN',
 'ocean_proximity_INLAND',
 'population',
 'total_bedrooms',
 'total_rooms']

In [51]:
dtrain = xgb.DMatrix(X_train, label=y_train, feature_names=features)
dval = xgb.DMatrix(X_val, label=y_val, feature_names=features)

In [52]:
watchlist = [(dtrain, 'train'), (dval, 'val')]

In [62]:
xgb_params = {
    'eta': 0.3, 
    'max_depth': 6,
    'min_child_weight': 1,
    
    'objective': 'reg:squarederror',
    'nthread': 8,
    
    'seed': 1,
    'verbosity': 1,
}
model = xgb.train(xgb_params, dtrain, 
                  verbose_eval=5, #to print each 5 steps
                  evals=watchlist,
                  num_boost_round=100)

[0]	train-rmse:0.44350	val-rmse:0.44250
[5]	train-rmse:0.25338	val-rmse:0.27463
[10]	train-rmse:0.21444	val-rmse:0.25179
[15]	train-rmse:0.19858	val-rmse:0.24522
[20]	train-rmse:0.18524	val-rmse:0.23978
[25]	train-rmse:0.17757	val-rmse:0.23830
[30]	train-rmse:0.16888	val-rmse:0.23570
[35]	train-rmse:0.16113	val-rmse:0.23416
[40]	train-rmse:0.15542	val-rmse:0.23318
[45]	train-rmse:0.14941	val-rmse:0.23190
[50]	train-rmse:0.14536	val-rmse:0.23225
[55]	train-rmse:0.14150	val-rmse:0.23197
[60]	train-rmse:0.13719	val-rmse:0.23139
[65]	train-rmse:0.13259	val-rmse:0.23158
[70]	train-rmse:0.12943	val-rmse:0.23068
[75]	train-rmse:0.12555	val-rmse:0.23039
[80]	train-rmse:0.12192	val-rmse:0.22886
[85]	train-rmse:0.11854	val-rmse:0.22888
[90]	train-rmse:0.11496	val-rmse:0.22861
[95]	train-rmse:0.11211	val-rmse:0.22908
[99]	train-rmse:0.10989	val-rmse:0.22862

In [63]:
xgb_params = {
    'eta': 0.1, 
    'max_depth': 6,
    'min_child_weight': 1,
    
    'objective': 'reg:squarederror',
    'nthread': 8,
    
    'seed': 1,
    'verbosity': 1,
}
model = xgb.train(xgb_params, dtrain, 
                  verbose_eval=5, #to print each 5 steps
                  evals=watchlist,
                  num_boost_round=100)

[0]	train-rmse:0.52449	val-rmse:0.52045
[5]	train-rmse:0.37822	val-rmse:0.38151
[10]	train-rmse:0.30326	val-rmse:0.31427
[15]	train-rmse:0.26538	val-rmse:0.28380
[20]	train-rmse:0.24512	val-rmse:0.26882
[25]	train-rmse:0.23026	val-rmse:0.25997
[30]	train-rmse:0.21887	val-rmse:0.25266
[35]	train-rmse:0.21020	val-rmse:0.24826
[40]	train-rmse:0.20392	val-rmse:0.24539
[45]	train-rmse:0.19814	val-rmse:0.24293
[50]	train-rmse:0.19215	val-rmse:0.24020
[55]	train-rmse:0.18809	val-rmse:0.23878
[60]	train-rmse:0.18457	val-rmse:0.23791
[65]	train-rmse:0.18063	val-rmse:0.23698
[70]	train-rmse:0.17741	val-rmse:0.23622
[75]	train-rmse:0.17468	val-rmse:0.23510
[80]	train-rmse:0.17242	val-rmse:0.23453
[85]	train-rmse:0.17014	val-rmse:0.23404
[90]	train-rmse:0.16797	val-rmse:0.23332
[95]	train-rmse:0.16562	val-rmse:0.23276
[99]	train-rmse:0.16323	val-rmse:0.23209